.app .images-wrapper {
	 columns: 1;
	 column-gap: 0;
	 margin: 1em auto;
	 text-align: center;
	 max-width: 80em;
}
 @media (min-width: 500px) {
	 .app .images-wrapper {
		 columns: 2;
	}
}
 @media (min-width: 768px) {
	 .app .images-wrapper {
		 columns: 3;
	}
}
 .app .images-wrapper img {
	 background: #ecf0f1;
	 display: inline-block;
	 margin-bottom: 0.5em;
	 width: calc(100% - 1.75em);
	 padding: 0.5em;
	 height: auto;
}
 